@font-face {
	font-family: hk-grotesk;
	src: url('fonts/hk-grotesk/HKGrotesk-Medium.otf');
}

@font-face {
	font-family: hk-grotesk-bold;
	src: url('fonts/hk-grotesk/HKGrotesk-SemiBold.otf');
}

body {
	background-color: #deccc1;
	font-family: hk-grotesk;
}

h1, h2, h3, h4, h5, h6
{
	font-family: hk-grotesk-bold;
}

hr {
	height:0px;
	border-radius: 2px;
	color: #c0b1a8;
	border: 2px solid currentColor;
	width: 90%;
}